body {
  background-color: #f2f8fd;
  font-family: "Baloo 2", sans-serif;
}

.search {
  &::before {
    content: url(../assets/images/search.svg);
  }
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ========HEADER SECTION============= */
.header {
  display: flex;
}
